COMPOSE_PROJECT_NAME=smart_kitchen_project

APP_PORT=80
BACKEND_PORT=3000

DB_HOST=postgres
DB_PORT=5432
DB_NAME=smart_kitchen
DB_USER=smart_user
DB_PASSWORD=smart_pass
POSTGRES_DB=smart_kitchen
POSTGRES_USER=smart_user
POSTGRES_PASSWORD=smart_pass

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.0-flash
