.amount-input {
  width: 80px;
}

.step-textarea {
  width: 350px;
  min-height: 80px;
  resize: vertical;
  overflow-y: auto;
}


.step-textarea {
  height: auto;
}
.step-textarea:focus {
  height: auto;
}

